@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --darkBlue : #22223b;
    --blue : #4a4e69;
    --lightBlue : #9a8c98;
    --beige : #c9ada7;
    --white : #f2e9e4;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
}

input{
    display: block;
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    color: black;
  }
/*************************************/

/*****************HEADER*********************/

.containHeader{
    background-color: var(--darkBlue);
}

header{
    display: flex;
    align-items: center;
    background-color: var(--darkBlue);
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}

header > .logoEssential{
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 2rem;
    margin: 0.3em 0 0.3em 0.3em;
}

.hamburgerButton{
    display: flex;
    flex-direction: column;
    margin : 0 3em 0 auto;
    cursor: pointer;
}

.hamburgerButton > div{
    width: 5rem;
    height: 0.7rem;
    margin-bottom: 1em;
    background-color: var(--lightBlue);
}

.hamburgerButton > div:last-of-type{
    margin-bottom: 0;
}

.hamburgerMenu{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hamburgerMenu > #close{
    width: 7rem;
    height: 7rem;
    position: absolute;
    font-size: 5rem;
    color: var(--blue);
    background-color: var(--beige);
    border-radius: 50%;
    right: 1rem;
    top: 1rem;
    text-align: center;
    cursor: pointer;
}

.hamburgerMenu > nav{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.hamburgerMenu > nav > a{
    margin-bottom: 2rem;
    font-size: 3rem;
    background-color: var(--beige);
    padding: 0.5em 1em;
    border-radius: 4em;
    font-weight: bold;
    text-align: center;
}

.hamburgerMenu > nav > a:hover{
    box-shadow: 0px 0px 3px 3px #9e8883;
}

header > nav{
    display: none;
    flex-wrap: wrap;
    margin: 1em 2em 1em auto;
    justify-content: right;
    align-items: center;
}
header > nav > a{
    font-size: 1.5rem;
    background-color: var(--lightBlue);
    padding: 1em 0.5em;
    text-align: center;
    border: 1px solid var(--blue);
    font-weight: bold;
}

.accueil{
    padding: 1em 1.5em 1em 1.5em;
}

.notif{
    margin-left: 0.4rem;
    background-color: #9e746c;
    padding: 0.5rem;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: underline;
}

header > nav > a:not(:last-child){
    border-right: none;
}

header > nav > a:hover{
    background-color: #7a7179;
}
/***********************MAIN***********************/

.essential{
    font-family: 'Righteous', cursive;
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 90rem;
    margin: 1rem 0.5rem 0 0.5rem;
    background-color: #dfccc7;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px var(--beige);
    justify-content: center;
}

main > h2{
    margin: 0 auto 0 auto;
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 2rem;
    text-align: center;
}


.containPanier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    max-width: 100%;
    min-height: 100px;
    background-color: rgb(196, 192, 192);
    border-radius: 10px;
}

.item{
    display: flex;
    align-items: center;
    min-height: 75px;
    max-width: 100%;
    width: 70rem;
    border-bottom: 1px solid black;
}

.item > img{
    margin-left: 1rem;
    width: 6rem ;
    background-color: white;
    padding: 0.2em;
    border-radius: 25%;
}

.item > h3{
    margin-left: 2rem;
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 2rem;
    text-align: center;
}

.item > section{
    margin-right: 1rem;
    font-family: 'Righteous', cursive;
    background-color: white;
    font-size: 1.8rem;
    padding: 0.2em;
    border-radius: 10px;
}

.prixProduitPanier{
    margin-left: auto;
}

.remove{
    margin-left: 2rem;
}

.remove,.add{
    border-style: none;
    outline: none;
    font-size: 1.5rem;
    text-align: center;
    width: 1.5em;
    height: 2.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.item > input{
    width: 4rem;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    border-style: none;
    border-radius: 15px;
}

.info{
    margin-left: auto;
    margin-right: 2rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

.delete{
    margin-right: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.detailPanier{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.detailPanier > #closeDetailPanier{
    width: 7rem;
    height: 7rem;
    position: absolute;
    font-size: 5rem;
    color: var(--blue);
    background-color: var(--beige);
    border-radius: 50%;
    right: 1rem;
    top: 1rem;
    text-align: center;
    cursor: pointer;
}

#editDetailPanier{
    background-color: white;
    border-radius: 50%;
    padding: 1.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px gray;
    margin-left: 1rem;
}

.detailPanier > nav{
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.detailPanier > nav > div{
    margin-bottom: 2rem;
    font-size: 3rem;
    background-color: var(--beige);
    padding: 0.5em 1em;
    border-radius: 4em;
    text-align: center;
}

.panierVide{
    display: none;
}
.panierVide > a{
    font-family: 'Righteous', cursive;
    background-color: white;
    font-size: 1.8rem;
    padding: 0.5em;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 2px 2px 2px 2px gray;
}

.panierVide > a:hover{
    background-color: rgb(211, 211, 211)
}

.totalContenuPanier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.totalContenuPanier > h2{
    margin: 0 1rem 1rem 1rem;
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 10px;
    text-align: center;
}

.totalContenuPanier > i{
    font-size: 2rem;
    background-color: var(--white);
    padding: 0.7em 0.5em 0.7em 0.5em;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px gray;
    cursor: pointer;
}
.totalContenuPanier > i:hover{
    background-color: rgb(211, 211, 211)
}
/******************************************/
/********************FOOTER*********************/

.containFooter{
    margin-top: 1rem;
    background-color: rgb(31, 31, 31);
    border-top: 1rem solid rgb(90, 90, 90);
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90rem;
    background-color: rgb(31, 31, 31);
    margin-left: auto;
    margin-right: auto;
}

footer > p{
    max-width: 250px;
    font-size: 1.5rem;
    margin: 1rem 2rem 1rem 2rem;
    color: white;
    text-align: center;
}

/***********************************************/
@media only screen and (min-width: 650px){
    .hamburgerButton{
        display: none;
    }

    header > nav{
        display: flex;
    }

    .info{
        display: none;
    }

    .delete{
        /*margin-left: auto;*/
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 650px){
    .item > button, input, .prixProduitPanier, .totalProduitPanier{
        display: none;
    }
}

@media only screen and (min-width: 900px){
    main{
        margin-left: auto;
        margin-right: auto;
    }

}